! Dracula Xresources palette
! See https://github.com/dracula/xresources/blob/master/Xresources
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

URxvt*font: xft:Inconsolata Nerd Font Mono:style=Medium:size=14:pixelsize=16:antialias=true

URxvt.borderless: false
URxvt.externalborder: 0
URxvt.internalBorder: 4

URxvt.scrollBar: false

URxvt.saveLines: 5000

URxvt.iso14755:      false
URxvt.letterSpace: -1

! transparency
URxvt.transparent: true
URxvt.shading: 20

! extensions
URxvt.perl-ext-common: default,tabbedex

! copy and paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! tabs
URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab

URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

URxvt.tabbedex.tabbar-fg: 15
URxvt.tabbedex.tabbar-bg: 236 
URxvt.tabbedex.tab-fg:    110
URxvt.tabbedex.tab-bg:    236

URxvt.tabbedex.transparent: true 
URxvt.tabbedex.new-button:  false

